<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="org.polymap.wbv.branding"
            class="org.polymap.rhei.batik.BatikApplication"
            id="org.polymap.wbv.entrypoint"
            path="/wbv">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="org.polymap.wbv.branding"
            themeId="org.polymap.rhei.batik.theme"
            title="WBV">
         <additionalHeaders>
            <link
                  href="wbvres/css/flowtext.css"
                  rel="stylesheet">
            </link>
            <!--link
                  href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"
                  rel="stylesheet"
                  type="text/css">
            <link-->
         </additionalHeaders>
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <themeContribution
            file="resources/css/wbv.css"
            themeId="org.polymap.rhei.batik.theme">
      </themeContribution>
   </extension>
   <extension
         point="org.polymap.rhei.batik.design">
      <design
            class="org.polymap.wbv.ui.WbvAppDesign"
            id="org.polymap.wbv.design"
            servletNameMatcher="/wbv">
      </design>
   </extension>
   <extension
         point="org.polymap.rhei.batik.panels">
      <panel
            class="org.polymap.wbv.ui.StartPanel"
            id="org.polymap.wbv.StartPanel">
      </panel>
      <panel
            class="org.polymap.wbv.ui.WaldbesitzerPanel"
            id="org.polymap.wbv.WaldbesitzerPanel">
      </panel>
      <panel
            class="org.polymap.wbv.ui.AdminPanel"
            id="org.polymap.wbv.AdminPanel">
      </panel>
   </extension>

</plugin>
